.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 53px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.2);


    .nav {
        margin: 8px 0px 0px 230px;

        a {
            margin-right: 50px;
            text-decoration: none;
            color: #3D3D3D;
            font-size: 16px;
            line-height: 20px;

            &:last-child {
                margin-right: 0px;
            }
        }


        .active {
            font-weight: 700;
            color: #46A358;
            padding-bottom: 22px;
            border-bottom: 3px solid #46A358;
        }
    }


    .menu {
        display: flex;
        align-items: center;

        margin-left: 261px;

        .images {
            display: flex;
            align-items: baseline;
            margin-top: 8px;

            .cart {
                position: relative;
                cursor: pointer;

                margin: 0px 30px;

                width: 25px;
                height: 28px;


                svg {
                    fill: #3D3D3D;
                }

                .counter {
                    user-select: none;
                    position: absolute;
                    top: 0px;
                    right: -3px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    background: #46A358;
                    border: 2px solid #FFFFFF;
                    border-radius: 50%;

                    width: 15px;
                    height: 15px;
                    font-size: 10px;

                    line-height: 13px;
                    color: #FFFFFF;
                }
            }

            svg {
                cursor: pointer;
            }
        }


        .auth {
            width: 100px;
            display: flex;
            justify-content: flex-end;
        }

        .avatar {
            width: 35px;
            height: 35px;
            border-radius: 50%;
            cursor: pointer;
        }


    }
}