.container {
	width: 100%;
	margin-left: 73px;

	.title {
		font-size: 17px;
		font-weight: 700;
		margin-bottom: 20px;
	}

	.subtitle {
		display: flex;
		justify-content: space-between;
		padding-bottom: 10px;
		border-bottom: 1px solid rgb(70 163 88 / 50%);
		margin-bottom: 20px;

		h4 {
			font-size: 16px;
			font-weight: 500;
			line-height: 16px;

			&:last-child {
				padding-right: 15px;
			}
		}

	}

	.wrapper {
		display: flex;
		flex-direction: column;
		gap: 10px;




	}

	.wrapper__2 {
		width: 320px;
		float: right;

		@media (width <= 768px) {
			width: auto;
			float: none;
		}
	}


	.totalPrice {
		margin: 17px 0 47px;

		h5 {
			text-align: right;
			margin-bottom: 18px;
			color: #3D3D3D;
			font-size: 14px;
			line-height: 16px;

			span {
				color: #46A358;
				cursor: pointer;
			}
		}
	}

	.payment {
		margin-bottom: 50px;

		.payment__items {
			display: flex;
			flex-direction: column;
			gap: 15px;


			.payment__item {
				cursor: pointer;
			}
		}
	}

	@media (width <= 768px) {
		margin: 20px 0 0;

		.subtitle,
		.wrapper,
		.price-title {
			display: none;
		}
	}

	@media (width >= 769px) and (width <= 1023px) {
		.title {
			font-size: 19px;
		}

		.subtitle {
			h4 {
				font-size: 18px;
			}

		}

		.totalPrice {
			h5 {
				font-size: 16px;
			}
		}

		.payment {
			.payment__items {
				.payment__item {
					font-size: 18px;
				}
			}
		}
	}
}