.container {
    max-width: 1200px;
    height: 450px;

    margin: 12px 0px 50px 0px;
    background: linear-gradient(97.77deg, rgba(245, 245, 245, 0.5) -23.46%, rgba(245, 245, 245, 0.5) 107.51%);


    @media (max-width: 768px) {
        max-width: 768px;
        max-height: 200px;
    }

    @media (min-width: 1024px) {
        min-width: 1024px;
    }
}