.container {
	max-width: 1200px;
	height: 450px;
	margin: 12px 0 50px;
	background: linear-gradient(97.77deg, rgb(245 245 245 / 50%) -23.46%, rgb(245 245 245 / 50%) 107.51%);


	@media (width <= 768px) {
		max-width: 768px;
		max-height: 200px;
	}

	@media (width >= 1024px) {
		min-width: 1024px;
	}
}