.container {
    .wrapper {
        display: flex;
    }

    .pagination {
        display: flex;
        margin-top: 20px;
        justify-content: flex-end;
    }


    @media (max-width: 768px) {
        & {
            .pagination {
                justify-content: center;
                margin-top: 40px;
            }
        }
    }
}