.container {
	width: 100%;

	h3 {
		font-weight: 500;
		font-size: 15px;
		margin-bottom: 10px;
	}

	.title {
		font-weight: 700;
		font-size: 28px;
	}

	.important {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 21px 0 15px;
		padding-bottom: 13px;
		border-bottom: 1px solid rgb(70 163 88 / 20%);


		span {
			font-weight: 700;
			font-size: 22px;
			color: #46A358;
		}

		.rating {
			display: flex;
			align-items: center;

			.review {
				margin-left: 12px;
				font-size: 15px;
			}
		}



	}

	.short__info {
		p {
			font-size: 14px;
			color: #727272;
			line-height: 24px;
			margin-bottom: 25px;
		}
	}

	.size {
		&__wrapper {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		&__item {
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			width: 27px;
			height: 27px;
			border: 1px solid #EAEAEA;
			border-radius: 50%;
			font-weight: 500;
			font-size: 14px;
			color: #727272;
		}

		.active {
			border: 1px solid #46A358;
			font-weight: 700;
			font-size: 18px;
			color: #46A358;

		}
	}

	.buttons__wrapper {
		display: flex;
		align-items: center;


		.buttons {
			display: flex;
			margin-left: 25px;
			gap: 10px;
		}


		.counter {
			display: flex;
			align-items: center;
			gap: 23px;
			margin: 23px 0;

			span {
				font-size: 20px;
				width: 20px;
				height: 20px;
			}

			div {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 35px;
				height: 35px;
				border-radius: 50%;
				background: #46A358;
				font-size: 28px;
				color: #FFF;
				cursor: pointer;
				user-select: none;
			}
		}
	}

	.other {
		font-size: 15px;
		line-height: 16px;

		:nth-child(2) {
			margin: 10px 0;
		}

		p {
			color: #A5A5A5;

			span {
				color: #727272;
			}
		}
	}

	.socials {
		display: flex;
		align-items: center;
		margin-top: 18px;

		h3 {
			margin: 0 16px 0 0;
		}

		div {
			display: flex;
			align-items: center;
			gap: 20px;

			img {
				cursor: pointer;
			}
		}
	}

	@media (width <= 768px) {
		margin: 20px 0;

		.buttons__wrapper {
			align-items: flex-start;
			flex-direction: column;

			.counter {
				margin: 22px 0;
			}

			.buttons {
				margin: 0 0 22px;
			}
		}
	}

	@media (width >= 768px) and (width <= 1023px) {
		.title {
			font-size: 30px;
		}

		.important {
			span {
				font-size: 24px;
			}

			.rating {
				.review {
					font-size: 17px;
				}
			}
		}

		.short__info {
			h3 {
				font-size: 18px;
			}

			p {
				font-size: 16px;
			}
		}

		.size {
			h3 {
				font-size: 18px;
			}

			&__item {
				font-size: 20px;
				width: 30px;
				height: 30px;
			}

			.active {
				font-size: 20px;
			}
		}

		.buttons__wrapper {
			.counter {
				span {
					font-size: 22px;
				}

				div {
					font-size: 30px;
				}
			}
		}

		.other {
			font-size: 17px;
		}

		.socials {
			h3 {
				font-size: 17px;
			}
		}
	}
}