@font-face {
  font-family: "CeraPro";
  src: url("../../public/fonts/CeraPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("../../public/fonts/CeraPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("../../public/fonts/CeraPro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "CeraPro";
  src: url("../../public/fonts/CeraPro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}


body {
  height: 100vh;
}

* {
  color: #3D3D3D;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'CeraPro', sans-serif;
  font-weight: 400;
}