.container {
	display: flex;
	height: 250px;
	background: #FBFBFB;
	padding: 25px;


	.info {
		display: flex;

		div {
			&:nth-child(2) {
				padding: 0 26px;
				border-right: 1px solid rgb(70 163 88 / 10%);
				border-left: 1px solid rgb(70 163 88 / 10%);
			}

			&:first-child {
				padding-right: 35px;
			}

			&:last-child {
				padding-left: 35px;
			}


			h3 {
				font-weight: 700;
				font-size: 17px;
				line-height: 16px;
				margin: 15px 0 9px;
			}


			p {
				width: 204px;
				font-size: 14px;
				line-height: 22px;
				color: #727272;
			}

			img {
				width: 80px;
				height: 85px;
			}
		}
	}


	.form {
		margin-left: 62px;

		h3 {
			font-weight: 700;
			font-size: 18px;
		}


		div {
			position: relative;
			margin: 18px 0;


			input {
				width: 100%;
				height: 40px;
				background: #FFF;
				box-shadow: 0 0 20px rgb(0 0 0 / 6%);
				border-radius: 6px;
				border: none;
				padding-left: 11px;

				&::placeholder {
					font-size: 14px;
				}

				&:focus {
					outline: none
				}
			}

			button {
				position: absolute;
				right: 0;
				bottom: 0;
			}
		}

		p {
			font-size: 13px;
			line-height: 22px;
			color: #727272;
		}
	}

	@media (width <= 768px) {
		display: none;
	}

	@media (width >= 768px) and (width <= 1023px) {
		.info {
			div {
				h3 {
					font-size: 19px;
				}

				p {
					font-size: 16px;
				}
			}
		}

		.form {
			h3 {
				font-size: 20px;
			}

			input {
				font-size: 16px;
			}

			p {
				font-size: 15px;
			}
		}
	}

}