.container {
    font-size: 15px;

    margin: 36px 0px 43px;

    span {
        font-weight: 700;
    }

    @media (max-width: 768px) {
        display: none;
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        font-size: 18px;
    }
}