.container {
	font-size: 15px;
	margin: 36px 0 43px;

	span {
		font-weight: 700;
	}

	@media (width <= 768px) {
		display: none;
	}

	@media (width >= 768px) and (width <= 1023px) {
		font-size: 18px;
	}
}