.container {

    .wrapper {
        display: flex;
        justify-content: space-between;

    }

    .preloader {
        display: flex;
        justify-content: center;
    }


    @media (max-width: 768px) {

        .wrapper {
            display: block;
        }

        .wrapper_2 {
            display: none;
        }
    }
}