.container {
    display: flex;
    align-items: flex-start;

    height: 53px;
    border-bottom: 0.3px solid rgba(70, 163, 88, 0.2);


    .logo {
        display: flex;
        align-items: center;


        .title {
            color: #46a358;
            font-weight: 800;
            font-size: 18px;
            margin-left: 6px;
        }
    }


    .nav {
        margin: 8px 0px 0px 230px;

        a {
            margin-right: 50px;
            text-decoration: none;
            color: #3D3D3D;
            font-size: 16px;
            line-height: 20px;

            &:last-child {
                margin-right: 0px;
            }
        }


        .active {
            font-weight: 700;
            padding-bottom: 22px;
            border-bottom: 3px solid #46A358;
        }
    }


    .menu {
        display: flex;
        align-items: center;

        margin-left: 261px;

        .images {
            display: flex;
            align-items: baseline;
            margin-top: 8px;

            img {
                cursor: pointer;
            }
        }
    }
}