.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 140px 0 100px;


    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 16px;
        margin-bottom: 15px;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        color: #727272;
    }

    .blogs {
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        width: 100%;
    }
}