.button {
    display: flex;
    align-items: center;
    justify-content: center;

    background: #46A358;

    div {
        display: flex;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }

    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.invert {
    background: #FFF;
    outline: 1px solid #46A358;

    div {
        color: #46A358;
    }

}