.container {


    .title {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #3D3D3D;

    }


    .subtitle {
        margin: 7px 0px 5px 0px;
        font-weight: 900;
        font-size: 70px;
        line-height: 70px;
        text-transform: uppercase;
        color: #3D3D3D;

        span {
            color: #46A358;
        }
    }


    .description {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #727272;
    }
}