.container {
	display: flex;
	width: 100%;

	.wrapper_1 {
		padding: 68px 0 85px 40px;
		width: 585px;

		.description_container {
			.title {
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				letter-spacing: 0.1em;
				text-transform: uppercase;
				color: #3D3D3D;

			}


			.subtitle {
				margin: 7px 0 5px;
				font-weight: 900;
				font-size: 70px;
				line-height: 70px;
				text-transform: uppercase;
				color: #3D3D3D;

				span {
					font-weight: 900;
					color: #46A358;
				}
			}


			.description {
				font-size: 14px;
				line-height: 24px;
				color: #727272;
			}

		}
	}

	.wrapper_2 {
		position: relative;
		width: 450px;
		margin-left: 165px;

		img {
			user-select: none;

			&:first-child {
				width: 450px;
			}

			&:last-child {
				position: absolute;
				left: 30px;
				bottom: 35px;
			}
		}
	}


	button {
		margin-top: 45px;
	}

	@media (width <= 768px) {
		& {
			min-width: 100%;

			.wrapper_1 {
				padding: 24px 0 24px 24px;
				width: 100%;
				min-width: 224px;
				margin-right: 50px;

				.description_container {
					max-width: 224px;

					.title {
						font-size: 11px;
					}

					.subtitle {
						font-size: 24px;
						line-height: 100%;
					}

					.description {
						font-size: 12px;
						line-height: 18px;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}

				button {
					background: none;
					width: auto !important;
					height: auto !important;
					margin-top: 11px;

					div {
						color: #46A358;

						&::after {
							content: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='10' viewBox='0 0 12 10' fill='%2346A358' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M0.666656 4.81714C0.666656 4.56401 0.854759 4.35481 1.09881 4.3217L1.16666 4.31714L11.1667 4.31714C11.4428 4.31714 11.6667 4.541 11.6667 4.81714C11.6667 5.07027 11.4786 5.27947 11.2345 5.31257L11.1667 5.31714L1.16666 5.31714C0.890514 5.31714 0.666656 5.09328 0.666656 4.81714Z' fill='%2346A358'/%3e%3cpath d='M6.78066 1.15514C6.58498 0.960301 6.5843 0.64372 6.77914 0.448038C6.95627 0.270145 7.23401 0.253409 7.43006 0.398224L7.48624 0.446515L11.5196 4.46252C11.698 4.64017 11.7142 4.91891 11.5683 5.11496L11.5196 5.17111L7.48627 9.18778C7.29061 9.38264 6.97403 9.38198 6.77917 9.18632C6.60203 9.00844 6.58646 8.73063 6.7321 8.53519L6.78063 8.47921L10.458 4.81663L6.78066 1.15514Z' fill='%2346A358'/%3e%3c/svg%3e");
							padding-left: 5px;
							width: 10px;
						}
					}
				}
			}

			.wrapper_2 {
				margin: 0;

				img {
					&:first-child {
						width: auto;
					}

					&:last-child {
						left: -52px;
						bottom: 6px;
					}

					max-height: 100%;
				}
			}
		}
	}

	@media (width <= 460px) {
		& {
			.wrapper_1 {
				margin: 0;
			}

			.wrapper_2 {
				img {
					&:last-child {
						display: none;
					}
				}

			}
		}
	}

	@media (width >= 769px) and (width <= 1023px) {
		& {
			.wrapper_1 {
				.description_container {
					.description {
						font-size: 15px;
					}
				}
			}
		}
	}


}