.container {
    display: flex;

    width: 100%;

    .wrapper_1 {
        padding: 68px 0px 85px 40px;
        width: 585px;
    }

    .wrapper_2 {
        position: relative;
        width: 450px;
        margin-left: 165px;

        img {
            user-select: none;

            &:first-child {
                width: 450px;
            }

            &:last-child {
                position: absolute;
                left: 30px;
                bottom: 35px;
            }
        }
    }


    button {
        margin-top: 45px;
    }
}